*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  padding: 10px 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: #e7f5ff;
}
.hading{
  font-size: 2.4rem;
  font-weight: 600;
  height: 3rem;
}
.navbar-list{
  display: flex;
  list-style: none;
  gap: 2.8rem;
  text-decoration: none;
}
.navbar-links{
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar-links:hover{
  color: #007bff;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deeea8;
  height: 40vh;
}
.serv{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edb896;
  height: 40vh;
}
.icon{
  display: flex;
  color: black;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 885px){
  .header{
    padding: 10px 2.4rem;
  }
  .navbar-list{
    display: none;
    flex-direction: column;
    gap: 1.6rem;
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    background-color: #e7f5ff;
    padding: 1.6rem 0;
    border-top: 1px solid #000;
  }
  .navbar-list.active {
    display: flex;
    align-items: center;
    height: 80vh;
    gap: 50px;
    
  }
  .navbar-links{
    text-align: center;
  }
  .icon{
    display: block;
  }
}